<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common-material.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.material.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.material.mobile.min.css"/>

    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/kendo.all.min.js"></script>
    <style>
        html {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }
    </style>
    <title>Gambling Machines</title>
</head>
<body>
<div style="font-size: 25px; left: 36%; position: relative;">
    Gambling Machine Maintainer!
</div>
<div id="grid"></div>
<script type="text/javascript" src="/Scripts/GmTable.js"></script>
</body>
</html>