<!DOCTYPE html>
<html>
<head>
    @*<base href="http://demos.telerik.com/kendo-ui/grid/local-data-binding">*@
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/kendo.all.min.js"></script>
    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <title>Gambling Machines</title>
    
    
</head>
<body>
<div>Hello World!</div>
<div id="grid"></div>
    
    

    
    
    <script type="text/javascript" src="/Scripts/GmTable.js"></script>
</body>
</html>
